[
    /*[0]*/ (
        id: "sok",
        direction: Right,
        base_time: "0:16:0",
        depth: [
            (1, "0:0:0", "168:0:0"),
            /*Sunday*/
            (2, "0:30:0", "44:0:0"),
            (4, "1:30:0", "20:10:0"),
            /*Monday 24*/
            (4, "25:30:0", "44:10:0"),
            (8, "26:0:0", "31:36:0"),
            (8, "36:0:0", "41:36:0"),
            /*Tuesday 48*/
            (2, "48:30:0", "69:0:0"),
            (4, "49:30:0", "68:10:0"),
            (8, "50:0:0", "55:36:0"),
            (8, "60:0:0", "65:36:0"),
            /*Wednesday 72*/
            (2, "72:30:0", "93:0:0"),
            (4, "73:30:0", "92:10:0"),
            (8, "74:0:0", "79:36:0"),
            (8, "84:0:0", "89:36:0"),
            /*Thurday 96*/
            (2, "96:30:0", "117:0:0"),
            (4, "97:30:0", "116:10:0"),
            (8, "98:0:0", "103:36:0"),
            (8, "108:0:0", "113:36:0"),
            /*Friday 120*/
            (2, "120:30:0", "141:0:0"),
            (4, "121:30:0", "140:10:0"),
            (8, "122:0:0", "138:48:0"),
            /*Saturday 144*/
            (2, "144:30:0", "165:0:0"),
            (4, "145:30:0", "164:10:0"),
        ],
        duration: "0:56:0",
        way_time: "0:55:0"
    ),
    /*[1]*/ (
        id: "sok",
        direction: Back,
        base_time: "0:16:0",
        depth: [
            (1, "0:0:0", "168:0:0"),
            /*Sunday*/
            (2, "0:30:0", "44:0:0"),
            (4, "1:30:0", "20:10:0"),
            /*Monday 24*/
            (4, "25:30:0", "44:10:0"),
            (8, "26:0:0", "31:36:0"),
            (8, "36:0:0", "41:36:0"),
            /*Tuesday 48*/
            (2, "48:30:0", "69:0:0"),
            (4, "49:30:0", "68:10:0"),
            (8, "50:0:0", "55:36:0"),
            (8, "60:0:0", "65:36:0"),
            /*Wednesday 72*/
            (2, "72:30:0", "93:0:0"),
            (4, "73:30:0", "92:10:0"),
            (8, "74:0:0", "79:36:0"),
            (8, "84:0:0", "89:36:0"),
            /*Thurday 96*/
            (2, "96:30:0", "117:0:0"),
            (4, "97:30:0", "116:10:0"),
            (8, "98:0:0", "103:36:0"),
            (8, "108:0:0", "113:36:0"),
            /*Friday 120*/
            (2, "120:30:0", "141:0:0"),
            (4, "121:30:0", "140:10:0"),
            (8, "122:0:0", "138:48:0"),
            /*Saturday 144*/
            (2, "144:30:0", "165:0:0"),
            (4, "145:30:0", "164:10:0"),
        ],
        duration: "0:56:0",
        way_time: "0:55:0"
    ),
]